.new-account{
    background-color:white;
    margin-top:10px;
    height:fit-content;
    text-align:center;
    margin-left:100px;
    margin-right:100px;
}
.reg-form .names input,
.reg-form .email-password input,
.reg-form .phone input{
    width:44%;
    height:40px;
    margin:16px 2%;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}
.reg-form .phone input{
    text-align:left;
}

.reg-form input[type="submit"],.new-account a button{
    margin:30px auto;
    width:70%;
    height:40px;
    font-size:large;
    color:white;
    background-color:orange;
    border:1px solid;
    border-radius:4px;
    cursor:pointer;
    outline:none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.reg-form input[type="submit"]:hover{
    background-color:darkorange;
}
.new-account .reg{
    background-color:#40588a;
}
.new-account .reg:hover{
    background-color:#384c77;
}
.new-account button.log{
    width:10%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:none;
    box-shadow:none;
    background-color:white;
    color:orange;
    margin-top:10px;
}
.new-account button.log:hover{
    background-color:lightgrey;
}
.contactus,.join{
    background-color:rgb(50 50 50 / 100%);
    margin-top:0px;
    display:flex;
}

.contactus ul,.join ul{
    list-style-type:none;
}
.help,.about{
    width:50%;
    padding:0 2%;
}
.contactus ul li a{
    text-decoration:none;
    color:#c7c7cd;
    display: inline-block;
}
.contactus ul li a:hover{
    text-decoration:underline;
}
.contactus ul li p,h5{
    color:#c7c7cd;
    text-align: left;
}
.socials,.payment{
    width:50%;
    text-align: center;
}
.socials ul,.payment ul{
    display:flex;
}
.socials ul li i,.payment ul li i{
    font-size:20px;
    margin:auto 20px;
    color:white;
}
.socials h5,.payment h5{
    padding-left: 50px;
    text-align: left;
}
.socials ul li i:hover,.payment ul li i:hover{
    color:orange;
}