.register-login{
    display:flex;
    background-color:white;
    height:fit-content;
    margin:10px 50px;
}
.user-login{
    width:50%;
}
.user-login h3,.register h3{
    text-align:center;
    color:orange;
}
.user-login form input{
    margin:20px 5%;
    width:80%;
    height:40px;
    border-top:none;
    border-left:none;
    border-right:none;
    outline:none;
}
.user-login input[type="checkbox"]{
    width:3%;
    height:15px;
    margin: 0%;
    margin-left: 5%;
}
.user-login .forgot{
    text-decoration:none;
    color:orange;
    margin-left:100px;
}
.user-login a:hover{
    text-decoration:underline;
}
.user-login input[type = "submit"]{
    margin:10px 5%;
    height:40px;
    width:80%;
    background-color:orange;
    outline:none;
    cursor:pointer;
    color:white;
    font-weight:bold;
    font-size:large;
    border:1px solid;
    border-radius:4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.user-login button{
    margin:10px 5%;
    height:40px;
    width:80%;
    background-color:orange;
    outline:none;
    cursor:pointer;
    color:white;
    font-weight:bold;
    font-size:large;
    border:1px solid;
    border-radius:4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.user-login button:hover{
    background-color:darkorange;
}
.user-login a button{
    background-color:#40588a;
}
.user-login a button:hover{
    background-color:#40589a
}

.register p{
    text-align:center;
    margin-bottom:0%;
}

.register a{
    display:block;
}
.register button{
    height:40px;
    margin:10px 5%;
    width:80%;
    cursor:pointer;
    border:1px;
    background-color:orange;
    font-size:large;
    color:white;
    border-radius:4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.register button:hover{
    background-color:darkorange;

}
#span1{
    display: block;
    margin-bottom: 10%;
    height: 50%;

}
#span2{
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-top: 0%;
    margin-bottom: 10%;
    height: 50%;

}
